        .flex {
            display: flex;
            gap: var(--gap, 1rem);
        }
        
        .logo {
            margin: 2rem;
            cursor: pointer;
        }
        
        .primary-header {
            align-items: center;
            justify-content: space-between;
        }
        
        .mobile-nav-toggle {
            display: none;
        }
        
        .primary-navigation {
            list-style-type: none;
            padding: 0;
            margin: 0;
            background: rgba(99, 197, 234, 0.7);
            backdrop-filter: blur(1rem);
        }
        
        @supports(backdrop-filter: blur(1rem)) {
            .primary-navigation {
                background: rgba(21, 225, 194, 0.1);
                backdrop-filter: blur(1rem);
            }
        }
        
        .primary-navigation a {
            font-weight: bold;
            text-decoration: none;
            color: #3A3E59;
        }
        
        .primary-navigation a>span {
            font-weight: 700;
            margin-inline-end: 0.75rem;
        }
        
        @media (max-width: 35em) {
            .primary-navigation {
                --gap: 2em;
                position: fixed;
                z-index: 1000;
                inset: 0 0 0 30%;
                flex-direction: column;
                padding: min(30vh, 10rem)2em;
                transform: translateX(100%);
                transition: transform 350ms ease-out;
            }
            .primary-navigation[data-visible="true"] {
                transform: translateX(0%);
            }
            .mobile-nav-toggle {
                display: block;
                position: absolute;
                z-index: 9999;
                background: url(assets/shared/icons8-menu161.png);
                background-repeat: no-repeat;
                width: 2rem;
                border: 1rem;
                aspect-ratio: 1;
                top: 2.5rem;
                right: 2rem;
            }
            .mobile-nav-toggle[aria-expanded="true"] {
                background-image: url(assets/shared/icons8-close-window-16.png);
            }
        }
        
        @media (max-width:35em) and (max-width:55em) {
            .primary-navigation a span {
                display: none;
            }
            .primary-navigation {
                padding-block: 2rem;
                --gap: clamp(1.5rem, 5vw, 3rem);
                padding-inline: clamp(3rem, 8vw, 10rem);
            }
        }
        
        @media (min-width:55em) {
            .primary-navigation {
                padding-block: 2rem;
                --gap: clamp(1.5rem, 5vw, 3rem);
                padding-inline: clamp(3rem, 8vw, 10rem);
            }
            .logo {
                top: 0;
            }
        }
        
        body {
            font-family: var(--ff-sans-serief);
            font-size: var(--fs-500);
            color: rgb(0, 255, 229);
            background: rgb(255, 253, 253);
            line-height: 1.5;
            min-height: 100vh;
            display: grid;
            grid-template-rows: min-content 1fr;
            overflow-x: hidden;
        }
        
        #footer {
            padding: 50px 0 30px;
        }
        
        hr {
            width: 100%;
            border: 0;
            border-top: 1px solid #63C5Ea;
        }
        
        .footer-row {
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-wrap: wrap;
        }
        
        .footer-left-col {
            flex-basis: 50%;
            margin-top: 60px;
        }
        
        .footer-right-col {
            flex-basis: 35%;
        }
        
        .footer-links {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
        }
        
        .link-title h4 {
            color: #63C5Ea;
            margin-bottom: 20px;
        }
        
        .link-title small {
            font-size: 13px;
            color: #777;
        }
        
        .footer-info {
            display: flex;
            align-items: flex-end;
            justify-content: space-between;
            flex-wrap: wrap;
        }
        
        .footer-logo img {
            width: 100px;
        }
        
        .footer-logo button {
            padding: 12px 38px;
            margin-top: 20px;
            font-size: 10px;
        }
        
        .copyright-text,
        .footer-logo {
            flex-basis: 40%;
        }
        /*---social-icons---*/
        
        .social-icons {
            width: 50px;
            position: fixed;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            z-index: 1;
        }
        
        .social-icons img {
            display: block;
            width: 20px;
            margin: 0 auto 20px;
            cursor: pointer;
        }
        
        @media only screen and (max-width: 770px) {
            .container {
                margin-right: 50px;
                margin-left: 50px;
            }
            .logo {
                margin-top: 27px;
                width: 70px;
            }
            .page1-text {
                margin-top: 100px;
            }
            h1 {
                font-size: 25px;
            }
            #menuBtn {
                width: 40px;
                right: 50px;
            }
            .common-btn {
                padding: 10px 16px;
            }
            .social-icons img {
                width: 14px;
                margin: 15px auto;
            }
            .feature-col {
                flex-basis: 100%;
                margin-bottom: 20px;
            }
            .course-left-col {
                flex-basis: 100%;
            }
            .course-right-col {
                flex-basis: 100%;
                margin-top: 70px;
            }
            .contact-left-col,
            .contact-right-col {
                flex-basis: 100%;
            }
            .contact-right-col {
                margin-top: 50px;
            }
            .footer-left-col,
            .footer-right-col {
                flex-basis: 100%;
            }
            .link-title {
                flex-basis: 50%;
                margin-bottom: 30px;
            }
        }
        /*about*/
        
        img {
            height: auto;
            max-width: 100%;
            border-radius: 5px;
        }
        
        .button {
            background-color: #aff7fa;
            border: 1px solid #000000;
            border-radius: 4px;
            margin-top: 10px;
            margin-bottom: 10px;
            color: black;
            display: inline-block;
            font-size: 15px;
            font-weight: 600;
            margin: 0;
            padding: 12px 32px 14px 32px;
            text-decoration: none;
            text-transform: uppercase;
            cursor: pointer;
        }
        
        .button a {
            text-decoration: none;
        }
        
        .button:hover {
            background-color: #ffffff;
            color: #000000;
        }
        
        .home-page {
            display: grid;
            font-size: 24px;
            grid-template-columns: 50% 50%;
            line-height: 1.4;
            margin: 2em auto 0 auto;
            max-width: 45em;
            padding: 0;
        }
        
        h4 {
            color: #fcb424;
        }
        
        .feature-col p {
            color: #000000;
        }
        
        h2 {
            text-align: center;
            font-family: Brush Script MT, cursive;
            margin-top: 10px;
            margin-bottom: 0px;
            padding-bottom: 0px;
            font-size: 52px;
            font-style: bold, italic;
            background: rgb(253, 253, 248);
            background: linear-gradient(150deg, #3dabe2 19%, #fcb424 67%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
        
        h1 {
            text-align: center;
            font-family: italic;
            margin-bottom: 0px;
            margin-top: 0px;
            padding-top: 0px;
            font-size: 52px;
            font-style: bold;
            background: rgb(253, 253, 248);
            background: linear-gradient(90deg, #fcb424 19%, #111010 67%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
        
        .intro {
            font-family: sans-serif;
            font-size: Bold;
            Font-size: 25px;
            Line-height: 116px;
            Line-height: 100%;
            text-align: center;
            Vertical-align: Top;
            color: rgb(0, 0, 0);
        }
        
        .home-page .button {
            margin: 1em 0;
            margin-left: 13em;
        }
        
        @media screen and (max-width: 45em) {
            .home-page {
                display: block;
            }
            .home-page .button {
                margin: 2em 0;
                margin-left: 6.5em;
            }
        }
        /*----features---*/
        
        #features {
            padding-top: 50px;
            padding-bottom: 50px;
        }
        
        .feature-row {
            width: 80%;
            margin: auto;
            display: flex;
            align-items: center;
            justify-content: space-around;
            flex-wrap: wrap;
        }
        
        .feature-col {
            flex-basis: 25%;
            text-align: center;
        }
        
        .feature-col img {
            width: 100px;
        }
        
        .feature-col h4 {
            margin-bottom: 15px;
            font-size: 20px;
            font-weight: 400;
        }
        
        .feature-btn {
            margin: 80px auto 0;
            display: flex;
            align-items: flex-end;
            justify-content: center;
        }
        
        .feature-btn .line {
            text-align: right;
            display: inline-block;
            margin-right: 25px;
        }
        /*---courses---*/
        
        #courses {
            padding: 100px 0;
        }
        
        .course-row {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
        }
        
        .course-right-col {
            flex-basis: 50%;
        }
        
        .course-right-col img {
            width: 100%;
        }
        
        .course-left-col {
            flex-basis: 50%;
        }
        
        .course-text {
            max-width: 350px;
            color: #3A3E59;
        }
        
        .course-text button {
            margin: 30px 0;
        }
        
        .square {
            height: 12px;
            width: 12px;
            display: inline-block;
            background: #63C5Ea;
            margin: 15px 0;
        }
        
        .line-1 {
            width: 15px;
            height: 15px;
            background: #63C5Ea;
            display: inline-block;
        }
        
        .line-2 {
            width: 80px;
            height: 1px;
            background: #63C5Ea;
            display: inline-block;
        }
        
        .line-3 {
            width: 60px;
            height: 1px;
            background: #63C5Ea;
            display: inline-block;
        }
        
        .line {
            line-height: 8px;
        }
        /*counter*/
        
        .wrapper2 {
            position: relative;
            width: 80vw;
            transform: translate(-50%, -50%);
            top: 50%;
            left: 50%;
            display: flex;
            justify-content: space-around;
            gap: 10px;
        }
        
        .container2 {
            width: 28vmin;
            height: 28vmin;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            padding: 1em 0;
            position: relative;
            font-size: 16px;
            border-radius: 0.5em;
            background-color: #63C5Ea;
            border-bottom: 10px solid #fcb424;
        }
        
        i {
            color: #fcb424;
            font-size: 2.5em;
            text-align: center;
        }
        
        span.num {
            color: #ffffff;
            display: grid;
            place-items: center;
            font-weight: 600;
            font-size: 3em;
        }
        
        span.text {
            color: #ffffff;
            font-size: 1em;
            text-align: center;
            pad: 0.7em 0;
            font-weight: 400;
            line-height: 0;
        }
        
        @media screen and (max-width: 1024px) {
            .wrapper2 {
                width: 85vw;
            }
            .container2 {
                height: 26vmin;
                width: 26vmin;
                font-size: 12px;
            }
        }
        
        @media screen and (max-width: 768px) {
            .wrapper2 {
                width: 90vw;
                flex-wrap: wrap;
                gap: 30px;
            }
            .container2 {
                width: calc(50% - 40px);
                height: 30vmin;
                font-size: 14px;
            }
        }
        
        @media screen and (max-width: 480px) {
            .wrapper2 {
                gap: 15px;
            }
            .container2 {
                width: 100%;
                height: 25vmin;
                font-size: 8px;
            }
        }
        /*testi*/
        
        .pn_testimonial_box {
            font-weight: 300;
            padding: 2rem;
            margin: 2rem;
            border: 1px solid #405fbd;
            position: relative;
            transition: 1s;
            transform: scale(0.9);
            background-color: #fff;
            -webkit-border-radius: 4rem;
            -moz-border-radius: 4rem;
            -ms-border-radius: 4rem;
            border-radius: 4rem;
        }
        
        .pn_testimonial_box:hover {
            box-shadow: 2px 4px 8px #d6d8da;
            border: 1px solid #fff;
            transform: scale(1);
            position: relative;
            z-index: 1;
        }
        
        .pn_review_rating img {
            width: 20%;
        }
        
        .pn_review_profile img {
            position: absolute;
            margin: -1rem -5rem 0;
        }
        
        .pn_review_profile span {
            position: absolute;
        }
        
        @media (max-width: 575px) {
            /*---------- testimonial css start ----------*/
            .pn_reviews {
                padding: 3rem 0;
            }
            .pn_reviews h1 {
                font-size: 2rem;
                padding-bottom: 1rem !important;
            }
            .pn_testimonial_box {
                padding: 2rem;
                margin: 1rem;
                border: 1px solid #405fbd;
                position: relative;
                -webkit-border-radius: 4rem;
                -moz-border-radius: 4rem;
                -ms-border-radius: 4rem;
                border-radius: 4rem;
            }
            .pn_review_profile img {
                position: absolute;
                margin: -1.1rem -3rem 0;
            }
            .pn_review_profile span {
                position: absolute;
                padding: 1rem;
            }
            .pn_review_rating img {
                width: auto;
            }
        }
        
        .wrapper,
        .wrapper2 {
            margin-bottom: 20px;
        }